<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SignalR_Drag_Tutorial.SignalR_Drag_Tutorial" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="SignalR_Drag_Tutorial" android:icon="@drawable/Icon"></application>
</manifest>